einops==0.6.0
einops-exts==0.0.3
h5py==3.7.0
imageio==2.22.4
lpips==0.1.4
matplotlib 
numpy
omegaconf==2.3.0
opencv-python==4.7.0.68
pandas==1.5.2
Pillow==9.2.0
rich==13.0.1
rotary-embedding-torch==0.1.5
scikit-image==0.19.3
scipy==1.9.3
six==1.16.0
taming-transformers==0.0.1
tensorboard==2.11.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.5.1
termcolor==2.2.0
thop==0.1.1.post2209072238
torch==1.12.1
torch-ema==0.3
torchaudio==0.12.1
torchmetrics==0.11.0
torchvision==0.13.1
tqdm 
